apiVersion: apps/v1
kind: Deployment
metadata:
  name: argo-nginx
  namespace: argo-nginx-development
  labels:
    app: nginx    
    updated: "Thursday, 12 February 2026 4:38:00 PM"
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.20.0
          ports:
            - containerPort: 80

